.DS_Store
Thumbs.db
*.log
tools/
.build-output.html
.build-check.html
story/StoryStylesheet.twee
story/StoryJavaScript.twee
source/embedded-images.js
source/stylesheet.base.css
.import-decompiled.twee

